.header-container {
  background-image: url(../images/head-back1920x800-black.jpg);
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  border: 1px red solid;
  min-height: 800px;
  margin-top: 0;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.33) inset;
}
.header-container .social-container {
  border: 1px red solid;
}
.header-container .social-container i {
  color: #fff;
  padding: 5px;
}
.header-container .title-container {
  height: 80vh;
  border: 1px red solid;
}
.header-container .title-container .title {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  height: 40vh;
}
.header-container .title-container .title h1 {
  font-size: 3em;
  color: #d89402;
  font-family: 'Roboto Condensed', sans-serif;
}
